<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Eight Queens</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div>
    <h1>Eight Queens Problem</h1>
    <table>
        <tbody>
        <tr th:each="row, rowStat : ${solution.board}">
            <td th:each="cell, cellStat : ${row}"
                th:text="${cell == 1 ? '♛' : ''}"
                th:class="${(rowStat.index + cellStat.index) % 2 == 0 ? 'white' : 'black'}">
            </td>
        </tr>
        </tbody>
    </table>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <form th:action="@{/solution}" method="get">
            <input type="hidden" name="index" th:value="${currentSolution - 1}">
            <button th:disabled="${currentSolution == 0}">Back</button>
        </form>
        <form th:action="@{/solution}" method="get" style="display: flex; align-items: center;">
            <input type="number" name="index" th:value="${currentSolution}" min="0" max="91"
                   placeholder="Specific solution" style="margin-right: 10px;">
            <button type="submit">Go</button>
        </form>
        <form th:action="@{/solution}" method="get">
            <input type="hidden" name="index" th:value="${currentSolution + 1}">
            <button th:disabled="${currentSolution == 91}">Next</button>
        </form>
    </div>
</div>

</body>
</html>